<nav>
  <a href="/">Home</a>
  <a href="/menu">FullMenu</a>
  <!--  -->
  <a href="/menu/mains">Mains</a>
  <a href="/menu/sides">Sides</a>
  <a href="/menu/desserts">Desserts</a>
  <!-- <a href="/category">Category</a> -->
</nav>
<hr>